{{> head}}
{{> navbar}}

<div class= "container">

    <div class="col-8 m-5">
        <h1> ETSIT </h1>
    </div>
     
    <div >

        <div class="row justify-content-lg-center mb-5 fadeIn animated" style="background-image:url('assets/img/etsit_fondo.jpg')"> 
            
            <div id = "imagenes" class="m-5 animated fadeInLeft" > </div>
  
        </div>

    </div>
    
      
</div>

  <script src="./assets/js/ajax.js"></script>
  <script src = './assets/js/fotosEtsit.js'></script>     
      


{{> footer}}